<section class="componente">
    <span class="titulo">Gerenciamento de Bancos:</span>

    <div class="ferramentas">
        <div class="crud" >
            <button>Incluir</button>
            <button>Alterar</button>
            <button>Consultar</button>
            <button>Excluir</button>
            <button>Copiar</button>
        </div>
        <div class="salvar" hidden >
            <button>Salvar +</button>
            <button>Salvar</button>
            <button>Cancelar</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th class="codigo">Código:</th>
                <th class="banco">Banco:</th>
                <th class="descricao">Descrição:</th>
                <th class="limite">Limite:</th>
            </tr>
        </thead>
    </table>
</section>